{% extends "_base.html" %}

{% block scripts %}
<script src="static/js/plots.js"></script>
<script src="static/js/init.js"></script>
{% endblock %}

{% block main %}

    <div class="d-flex justify-content-between mx-0 px-0" style='display:flex; align-items:flex-end;'>
        <h4 class="ps-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Upload a CSV file containing smiles strings. The file should contain a column header called 'smiles' with one valid smiles string in each row. Other columns may be present but will not be used.">
            <i class="bi bi-info-circle"></i> Upload a CSV file
        </h4>
        <p class='fake-link mb-2 pe-3' id="use-example-csv" style="font-size:1rem;">
        Don't have a CSV file ready? Use an example file
        </p>
    </div>
    <input class="form-control form-control-sm rounded-pill mb-3" type="file" id="file-upload" accept=".csv,.CSV">

    <div id="details-div" style="display:none;">
        <div class="row my-3">
            <div class="cdiv col mx-2">
                <div class="cdiv-header text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="This is the currently selected molecule. To select a new molecule, click a point in the PCA plot.">
                    <i class="bi bi-info-circle"></i> <span id="selected-mol-header"></span>
                </div>
                <div class="cdiv-body fig-center" id="selected-mol-div"> 
                </div>
            </div>

            <div class="cdiv mx-2 col">
                <div class="cdiv-header text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="This is a histogram of similarity scores between the selected molecule and all other molecules in the dataset.">
                    <i class="bi bi-info-circle"></i> Similarities histogram
                </div>
                <div class="cdiv-body">
                    <select class="form-select form-select-sm mb-3 rounded-pill" id="bin-select">
                        <option value="10">10 bins</option>
                        <option value="50">50 bins</option>
                        <option value="100" selected>100 bins</option>
                        <option value="500">500 bins</option>
                        <option value="1000">1000 bins</option>
                    </select>
                    <div class="fig-center" id="histogram-plot">
                    </div>
                </div>
            </div>

            <div class="cdiv col mx-2">
                <div class="cdiv-header text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="This is a PCA representation of all molecules in the dataset, based 2048 standard topographical features of each molecule. Points are colored by their similarity to the selected molecule. Select a new molecule by clicking any point in the plot.">
                    <i class="bi bi-info-circle"></i> PCA of molecular fingerprints
                </div>
                <div class="cdiv-body fig-center" id="pca-plot">
                </div>
            </div>
        </div>




        <div class="cdiv">
            <div class="cdiv-header text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="These are most similar molecules to the selected molecule in the dataset. Click on a molecule to select it.">
                <i class="bi bi-info-circle"></i> Most similar molecules
            </div>
            <div class="cdiv-body">
                <div class="d-flex" id="similar-div" style="overflow:auto;">
                </div>
            </div>
        </div>
        <div class="cdiv">
            <div class="cdiv-header text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="These are most dissimilar molecules to the selected molecule in the dataset. Click on a molecule to select it.">
                <i class="bi bi-info-circle"></i> Most disimilar molecules
            </div>
            <div class="cdiv-body">
                <div class="d-flex" id="dissimilar-div" style="overflow:auto;">
                </div>
            </div>
        </div>

    </div>


{% endblock %}



