{% extends "_base.html" %}

{% block scripts %}
<script src="static/js/init.js"></script>
{% endblock %}

{% block main %}

    <div class="d-flex justify-content-between" style='display:flex; align-items:flex-end;'>
        <h4 class="ps-3">Upload a CSV file</h4>
        <p class='fake-link mb-2 pe-3' id="use-example-csv" style="font-size:1rem;">
        Don't have a CSV file ready? Use an example file
        </p>
    </div>
    <input class="form-control form-control-sm rounded-pill mb-3" type="file" id="file-upload" accept=".csv,.CSV">

    <div id="loading-div">
    </div>

    <div id="img-div">

    </div>

{% endblock %}



